apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: gymshare-dev
nameSuffix: -dev
resources:
- ../../bases/gymshare
- namespace.yaml
transformers:
- labels.yaml
patchesStrategicMerge:
- |
  apiVersion: apps/v1
  kind: Deployment
  metadata:
    name: gateways
  spec:
    template:
      spec:
        $setElementOrder/containers:
        - name: gateways-container
        containers:
        - $setElementOrder/env:
          - name: Audience
          - name: Issuer
          - name: ENVIRONMENT
          env:
          - name: ENVIRONMENT
            value: dev
          name: gateways-container
replicas:
- count: 1
  name: gateways
images:
- name: noahkoole/gymshare-authentication
  newTag: sha-33a42d2
- name: noahkoole/gymshare-gateways
  newTag: sha-33a42d2
- name: noahkoole/gymshare-users
  newTag: sha-33a42d2
- name: noahkoole/gymshare-workouts
  newTag: sha-33a42d2
