apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: gymshare-prd
nameSuffix: -prd
resources:
- ../../bases/gymshare
- namespace.yaml
transformers:
- labels.yaml
patchesStrategicMerge:
- |
  apiVersion: apps/v1
  kind: Deployment
  metadata:
    name: gateways
replicas:
- count: 2
  name: gateways
images:
- name: noahkoole/gymshare-authentication
  newTag: 1.0.0
- name: noahkoole/gymshare-authorization
  newTag: 1.0.0
- name: noahkoole/gymshare-gateways
  newTag: 1.0.0
