apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: gymshare-prd
nameSuffix: -prd
resources:
- ../../bases/gymshare
- namespace.yaml
transformers:
- labels.yaml
patchesStrategicMerge:
- |
  apiVersion: apps/v1
  kind: Deployment
  metadata:
    name: gymshare
replicas:
- count: 2
  name: realtime