apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: gymshare-prd
nameSuffix: -prd
resources:
- ../../bases/gymshare
- namespace.yaml
transformers:
- labels.yaml
patchesStrategicMerge:
- |
  apiVersion: apps/v1
  kind: Deployment
  metadata:
    name: gateways
  spec:
    template:
      spec:
        $setElementOrder/containers:
        - name: gateways-container
        containers:
        - $setElementOrder/env:
          - name: Audience
          - name: Issuer
          - name: ENVIRONMENT
          env:
          - name: ENVIRONMENT
            value: prod
          name: gateways-container
replicas:
- count: 2
  name: gateways
images:
- name: noahkoole/gymshare-authentication
  newTag: master
- name: noahkoole/gymshare-gateways
  newTag: master
